In [1]:
# Importa o pandas
import pandas as pd
import numpy as np

In [3]:
# Carrega o dataset de alunos. Informar o caminho do arquivo.
dados_aluno = pd.read_csv("TS_ALUNO_3EM_ESC_2017.csv")

In [4]:
# Shape (Quantidade de linhas e colunas)
dados_aluno.shape

(1456325, 95)

In [5]:
# Visualiza uma amostra dos dados
dados_aluno.head()

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,...,TX_RESP_Q051,TX_RESP_Q052,TX_RESP_Q053,TX_RESP_Q054,TX_RESP_Q055,TX_RESP_Q056,TX_RESP_Q057,TX_RESP_Q058,TX_RESP_Q059,TX_RESP_Q060
0,2017,1,11,6305476,1,61226262,1,1,965015,12,...,C,A,C,A,A,A,B,A,C,B
1,2017,1,11,6305476,1,61226262,1,1,814929,12,...,C,B,C,A,A,A,B,A,A,C
2,2017,1,11,6305476,1,61226262,1,1,965015,12,...,C,A,C,A,A,A,B,B,A,B
3,2017,1,11,6305476,1,61226262,1,1,814929,12,...,C,B,A,A,B,B,B,A,C,C
4,2017,1,11,6305476,1,61226262,1,1,776500,12,...,D,B,D,C,C,C,C,C,D,B

In [6]:
#Mostra as colunas
dados_aluno.columns

Index(['ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'ID_AREA',
       'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE',
       'ID_ALUNO', 'IN_SITUACAO_CENSO', 'IN_PREENCHIMENTO_PROVA',
       'IN_PRESENCA_PROVA', 'ID_CADERNO', 'ID_BLOCO_1', 'ID_BLOCO_2',
       'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT',
       'TX_RESP_BLOCO_2_MT', 'IN_PROFICIENCIA', 'IN_PROVA_BRASIL',
       'ESTRATO_ANEB', 'PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP',
       'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB', 'ERRO_PADRAO_LP_SAEB',
       'PROFICIENCIA_MT', 'ERRO_PADRAO_MT', 'PROFICIENCIA_MT_SAEB',
       'ERRO_PADRAO_MT_SAEB', 'IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q001',
       'TX_RESP_Q002', 'TX_RESP_Q003', 'TX_RESP_Q004', 'TX_RESP_Q005',
       'TX_RESP_Q006', 'TX_RESP_Q007', 'TX_RESP_Q008', 'TX_RESP_Q009',
       'TX_RESP_Q010', 'TX_RESP_Q011', 'TX_RESP_Q012', 'TX_RESP_Q013',
       'TX_RESP_Q014', 'TX_RESP_Q015', 'TX_RESP_Q016', 'TX_RESP_Q017',
       'TX_RESP_Q018', 'TX_RESP_Q019', 'TX_RESP_Q020', 'TX_RESP_Q021',
       'TX_RESP_Q022', 'TX_RESP_Q023', 'TX_RESP_Q024', 'TX_RESP_Q025',
       'TX_RESP_Q026', 'TX_RESP_Q027', 'TX_RESP_Q028', 'TX_RESP_Q029',
       'TX_RESP_Q030', 'TX_RESP_Q031', 'TX_RESP_Q032', 'TX_RESP_Q033',
       'TX_RESP_Q034', 'TX_RESP_Q035', 'TX_RESP_Q036', 'TX_RESP_Q037',
       'TX_RESP_Q038', 'TX_RESP_Q039', 'TX_RESP_Q040', 'TX_RESP_Q041',
       'TX_RESP_Q042', 'TX_RESP_Q043', 'TX_RESP_Q044', 'TX_RESP_Q045',
       'TX_RESP_Q046', 'TX_RESP_Q047', 'TX_RESP_Q048', 'TX_RESP_Q049',
       'TX_RESP_Q050', 'TX_RESP_Q051', 'TX_RESP_Q052', 'TX_RESP_Q053',
       'TX_RESP_Q054', 'TX_RESP_Q055', 'TX_RESP_Q056', 'TX_RESP_Q057',
       'TX_RESP_Q058', 'TX_RESP_Q059', 'TX_RESP_Q060'],
      dtype='object')

In [7]:
# Filtra os dados pela coluna 'ID_UF' pelo código 53 que corresponde ao DF
filtro_uf = dados_aluno['ID_UF'] == 53

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_PROVA' pelo código 1 que corresponde a um preenchimento verdadeiro da prova
filtro_preenchimento_prova = dados_aluno['IN_PREENCHIMENTO_PROVA'] == 1

# Filtra os dados pela coluna 'IN_PREENCHIMENTO_QUESTIONARIO' pelo código 1 que corresponde a um preenchimento 
#verdadeiro do questionário
filtro_preench_quest = dados_aluno['IN_PREENCHIMENTO_QUESTIONARIO'] == 1

# Aplica ambos os filtros usando o operador lógico AND (&)
dados_aluno_df = dados_aluno[filtro_uf & filtro_preenchimento_prova & filtro_preench_quest]

In [8]:
# Convertendo as colunas para strings e substituindo os pontos por vírgulas
colunas_para_substituir = ['PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
                           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB']
for coluna in colunas_para_substituir:
    dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

C:\Users\ferna\AppData\Local\Temp\ipykernel_21840\3636634898.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')
C:\Users\ferna\AppData\Local\Temp\ipykernel_21840\3636634898.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_aluno_df[coluna] = dados_aluno_df[coluna].astype(str).str.replace('.', ',')

In [9]:
#Aqui percebe-se que os dados já foram reduzidos
dados_aluno_df.shape

(15977, 95)

In [10]:
#o comando abaixo serve para testar os valores únicos que a coluna possui. Então basta informar o nome da coluna.
dados_aluno_df['IN_PREENCHIMENTO_QUESTIONARIO'].unique()

array([1], dtype=int64)

In [11]:
#Selecionar as colunas que são de interesse, para isso é necessário identificar as perguntas que são comuns aos
#5 questionários e que são pertinentes a análise
colunas = ['ID_PROVA_BRASIL', 'ID_ESCOLA', 'IN_PUBLICA', 'ID_LOCALIZACAO', 'ID_TURMA', 'ID_SERIE', 'ID_ALUNO', 'IN_SITUACAO_CENSO',
          'IN_PREENCHIMENTO_PROVA','PESO_ALUNO_LP', 'PESO_ALUNO_MT', 'PROFICIENCIA_LP', 'PROFICIENCIA_LP_SAEB',
           'PROFICIENCIA_MT', 'PROFICIENCIA_MT_SAEB','IN_PREENCHIMENTO_QUESTIONARIO', 'TX_RESP_Q002', 
           'TX_RESP_Q005', 'TX_RESP_Q008', 'TX_RESP_Q011',
           'TX_RESP_Q012', 'TX_RESP_Q013', 'TX_RESP_Q014', 
            'TX_RESP_Q015', 'TX_RESP_Q018', 'TX_RESP_Q019', 
           'TX_RESP_Q022', 'TX_RESP_Q023', 'TX_RESP_Q026', 'TX_RESP_Q036', 
            'TX_RESP_Q037', 'TX_RESP_Q041', 'TX_RESP_Q042', 'TX_RESP_Q027', 
            'TX_RESP_Q028', 'TX_RESP_Q030', 'TX_RESP_Q031', 'TX_RESP_Q038','TX_RESP_Q009', 'TX_RESP_Q010']

#atribui somente as colunas desejadas ao dados_aluno_df inicial
dados_aluno_df = dados_aluno_df[colunas]

In [12]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_PROVA,PESO_ALUNO_LP,...,TX_RESP_Q037,TX_RESP_Q041,TX_RESP_Q042,TX_RESP_Q027,TX_RESP_Q028,TX_RESP_Q030,TX_RESP_Q031,TX_RESP_Q038,TX_RESP_Q009,TX_RESP_Q010
702044,2017,61233638,1,1,956362,12,26892528,1,1,"0,8461538462",...,D,A,A,A,A,A,A,B,A,A
702045,2017,61233638,1,1,956362,12,26892527,1,1,"0,8461538462",...,D,C,A,A,A,A,A,B,B,A
702046,2017,61233638,1,1,956362,12,26892526,1,1,"0,8461538462",...,A,A,A,A,B,A,B,B,B,A
702047,2017,61233638,1,1,956362,12,26892524,1,1,"0,8461538462",...,A,A,A,A,A,A,A,B,B,A
702048,2017,61233638,1,1,956362,12,26892523,1,1,"0,8461538462",...,D,C,A,A,A,A,A,B,B,A

In [13]:
#substituir os valores da pergunta "Na sua casa tem freezer (parte da geladeira duplex)?" para sim e não
#sustituindo com sim
# Valores antigos que queremos substituir
valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q009'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q009'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

#sustituindo com não
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituição
#novo_valor = 'Não'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q009'] = dados_aluno_df['TX_RESP_Q009'].replace(valores_antigos, novo_valor)

In [14]:
#substituir os valores da pergunta "Na sua casa tem freezer separado da geladeira?" para sim e não
#sustituindo com sim
# Valores antigos que queremos substituir
valores_antigos = ['B', 'C', 'D', 'E', 'A', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Sim', 'Sim', 'Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q010'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q010'].fillna('Não respondeu/Não soube responder', inplace=True)

# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

#sustituindo com não
# Valores antigos que queremos substituir
#valores_antigos = ['A']
# Novo valor para substituição
#novo_valor = 'Não'
# Substituindo os valores antigos pelo novo valor na coluna 'A'
#dados_aluno_df.loc[:, 'TX_RESP_Q010'] = dados_aluno_df['TX_RESP_Q010'].replace(valores_antigos, novo_valor)

In [15]:
# Função para verificar se pelo menos uma das duas colunas é 'sim'
def verifica_sim(row):
    if row['TX_RESP_Q010'] == 'Sim' or row['TX_RESP_Q009'] == 'Sim':
        return 'Sim'
    elif row['TX_RESP_Q010'] == 'Não' and row['TX_RESP_Q009'] == 'Não':
        return 'Não'
    else:
        return 'Não respondeu/Não soube responder'

# Aplicando a função para criar a nova coluna 'Resultado'
dados_aluno_df['Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).'] = dados_aluno_df.apply(verifica_sim, axis=1)

In [16]:
#remover as colunas 'TX_RESP_Q010', 'TX_RESP_Q009', já que uma nova foi criada no lugar
dados_aluno_df.drop(['TX_RESP_Q010', 'TX_RESP_Q009'], axis=1, inplace=True)

In [17]:
#Como você se considera?
#Mudança de Resposta: "Não sei" mudou para "Não quero declarar para se adequar aos anos 2019 e 2021", Além disso
#Respostas em Branco, "*"", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , '*', '.']

# Novo valor para substituição
novo_valor = ['Branco(a)', 'Pardo(a)', 'Preto(a)', 'Amarelo(a)', 'Indígena', 'Não quero declarar', 'Não respondeu/Não soube responder'
             ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q002'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q002'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q002'] = dados_aluno_df['TX_RESP_Q002'].replace(valores_antigos, novo_valor)

In [18]:
#Você mora com sua mãe?
#Mudança de Resposta: "Não, mas moro com outra mulher responsável por mim." mudou para "Sim", Além disso
#Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q018'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q018'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q018'] = dados_aluno_df['TX_RESP_Q018'].replace(valores_antigos, novo_valor)

In [19]:
#Você mora com seu pai?
#Mudança de Resposta: "Não, mas moro com outro homem responsável por mim." mudou para "Sim", Além disso
#Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Sim', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q022'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q022'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q022'] = dados_aluno_df['TX_RESP_Q022'].replace(valores_antigos, novo_valor)

In [20]:
#Até que série sua mãe, ou a mulher responsável por você, estudou?
#Mudança de Resposta: "Nunca estudou." e "Não completou a 4.ª série/5.º ano." mudou para 
#"Não completou o 5º ano do Ensino Fundamental", "Completou a 4.ª série/5.º ano, mas não completou a 8.ª série/9.º ano."
#Mudou para "Ensino Fundamental, até o 5º ano", "Completou a 8.ª série/9.º ano, mas não completou o Ensino Médio." mudou 
#para "Ensino Fundamental completo", "Completou o Ensino Médio, mas não completou a Faculdade." mudou para
#"Ensino Médio completo", "Completou a Faculdade." mudou para "Ensino Superior completo (faculdade ou graduação)", Além
#disso, Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"


valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , 'G' , '*', '.']

# Novo valor para substituição
novo_valor = ['Não completou o 5º ano do Ensino Fundamental', 'Não completou o 5º ano do Ensino Fundamental',
              'Ensino Fundamental, até o 5º ano', 'Ensino Fundamental completo' ,'Ensino Médio completo', 
              'Ensino Superior completo (faculdade ou graduação)', 'Não sei',
              'Não respondeu/Não soube responder', 'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q019'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q019'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q019'] = dados_aluno_df['TX_RESP_Q019'].replace(valores_antigos, novo_valor)

In [21]:
#Até que série seu pai, ou o homem responsável por você, estudou?
#Mudança de Resposta: "Nunca estudou." e "Não completou a 4.ª série/5.º ano." mudou para 
#"Não completou o 5º ano do Ensino Fundamental", "Completou a 4.ª série/5.º ano, mas não completou a 8.ª série/9.º ano."
#Mudou para "Ensino Fundamental, até o 5º ano", "Completou a 8.ª série/9.º ano, mas não completou o Ensino Médio." mudou 
#para "Ensino Fundamental completo", "Completou o Ensino Médio, mas não completou a Faculdade." mudou para
#"Ensino Médio completo", "Completou a Faculdade." mudou para "Ensino Superior completo (faculdade ou graduação)", Além
#disso, Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"

valores_antigos = ['A', 'B', 'C', 'D', 'E', 'F' , 'G' , '*', '.']

# Novo valor para substituição
novo_valor = ['Não completou o 5º ano do Ensino Fundamental', 'Não completou o 5º ano do Ensino Fundamental',
              'Ensino Fundamental, até o 5º ano', 'Ensino Fundamental completo' ,'Ensino Médio completo', 
              'Ensino Superior completo (faculdade ou graduação)', 'Não sei',
              'Não respondeu/Não soube responder', 'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q023'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q023'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q023'] = dados_aluno_df['TX_RESP_Q023'].replace(valores_antigos, novo_valor)

In [22]:
#Seus pais ou responsáveis conversam com você sobre o que acontece na escola?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"


valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q031'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q031'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q031'] = dados_aluno_df['TX_RESP_Q031'].replace(valores_antigos, novo_valor)

In [23]:
#Seus pais ou responsáveis incentivam você a estudar?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q027'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q027'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q027'] = dados_aluno_df['TX_RESP_Q027'].replace(valores_antigos, novo_valor)

In [24]:
#Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q028'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q028'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q028'] = dados_aluno_df['TX_RESP_Q028'].replace(valores_antigos, novo_valor)

In [25]:
#Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?
#Mudança de Resposta: Respostas em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q030'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q030'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q030'] = dados_aluno_df['TX_RESP_Q030'].replace(valores_antigos, novo_valor)

In [26]:
#Com qual frequência seus pais, ou responsáveis por você, vão à reunião de pais?
#Mudança de Resposta: "Sempre ou quase sempre." mudou para "Sim", "De vez em quando." mudou para "Sim",
#"Nunca ou quase nunca." mudou para "Não", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Sim', 'Não' , 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q026'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q026'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q026'] = dados_aluno_df['TX_RESP_Q026'].replace(valores_antigos, novo_valor)

In [27]:
#Na sua casa tem geladeira?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma', 'Sim, duas' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q008'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q008'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q008'] = dados_aluno_df['TX_RESP_Q008'].replace(valores_antigos, novo_valor)

In [28]:
#Na sua casa tem computador?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q013'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q013'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q013'] = dados_aluno_df['TX_RESP_Q013'].replace(valores_antigos, novo_valor)

In [29]:
#Na sua casa tem quartos para dormir?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q015'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q015'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q015'] = dados_aluno_df['TX_RESP_Q015'].replace(valores_antigos, novo_valor)

In [30]:
#Na sua casa tem televisão em cores?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma', 'Sim, duas' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q005'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q005'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q005'] = dados_aluno_df['TX_RESP_Q005'].replace(valores_antigos, novo_valor)

In [31]:
#Na sua casa tem banheiro?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q014'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q014'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q014'] = dados_aluno_df['TX_RESP_Q014'].replace(valores_antigos, novo_valor)

In [32]:
#Na sua casa tem carro?
#Mudança de Resposta: "Não tem." mudou para "Não", "Sim, três." mudou para "Sim, três ou mais.",
#"Sim, quatro ou mais." mudou para "Sim, três ou mais.", Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, um', 'Sim, dois' , 'Sim, três ou mais', 
              'Sim, três ou mais',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q012'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q012'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q012'] = dados_aluno_df['TX_RESP_Q012'].replace(valores_antigos, novo_valor)

In [33]:
#Na sua casa tem máquina de lavar roupa (O tanquinho NÃO deve ser considerado)?
#Mudança de Resposta: "Não tem." mudou para "Não", Todas as respostas que continham "Sim" mudou para "Sim", 
#Além disso Respostas em Branco, "*", "." mudou para 
#"Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim', 'Sim' , 'Sim', 
              'Sim',  'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q011'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q011'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q011'] = dados_aluno_df['TX_RESP_Q011'].replace(valores_antigos, novo_valor)

In [34]:
#Você já foi reprovado?
#Mudança de Resposta:  em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q041'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q041'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q041'] = dados_aluno_df['TX_RESP_Q041'].replace(valores_antigos, novo_valor)

In [35]:
#Você já abandonou a escola durante o período de aulas e ficou fora da escola o resto do ano?
#Mudança de Resposta:  em Branco, "*", "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', '*', '.']

# Novo valor para substituição
novo_valor = ['Não', 'Sim, uma vez', 'Sim, duas vezes ou mais' , 'Não respondeu/Não soube responder' ,'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q042'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q042'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q042'] = dados_aluno_df['TX_RESP_Q042'].replace(valores_antigos, novo_valor)

In [36]:
#Em dia de aula, quanto tempo você gasta assistindo à TV, navegando na internet ou jogando jogos eletrônicos?
#Mudança de Resposta: "Mais de 2 horas, até 3 horas." e "Mais de 3 horas." mudou para "Mais de 2 horas", 
#"Não vejo TV, não navego na internet e não jogo jogos eletrônicos." mudou para "Não uso meu tempo para isso", Além
#disso, Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E',  '*', '.']

# Novo valor para substituição
novo_valor = ['Menos de 1 hora', 'Entre 1 e 2 horas', 'Mais de 2 horas', 'Mais de 2 horas', 
              'Não uso meu tempo para isso', 'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q036'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q036'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q036'] = dados_aluno_df['TX_RESP_Q036'].replace(valores_antigos, novo_valor)

In [37]:
#Em dias de aula, quanto tempo você gasta fazendo trabalhos domésticos (ex.: lavando louça, limpando o quintal etc.)?
#Mudança de Resposta: "Mais de 2 horas, até 3 horas." e "Mais de 3 horas." mudou para "Mais de 2 horas", 
#"Não faço trabalhos domésticos." mudou para "Não uso meu tempo para isso", Além
#disso, Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', 'C', 'D', 'E',  '*', '.']

# Novo valor para substituição
novo_valor = ['Menos de 1 hora', 'Entre 1 e 2 horas', 'Mais de 2 horas', 'Mais de 2 horas', 
              'Não uso meu tempo para isso', 'Não respondeu/Não soube responder',
              'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q037'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q037'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q037'] = dados_aluno_df['TX_RESP_Q037'].replace(valores_antigos, novo_valor)

In [38]:
#Atualmente você trabalha fora de casa (recebendo ou não um salário)?
#Mudança de Resposta: Respostas em Branco ou "*" ou "." mudou para "Não respondeu/Não soube responder"
valores_antigos = ['A', 'B', '*', '.']

# Novo valor para substituição
novo_valor = ['Sim', 'Não', 'Não respondeu/Não soube responder', 'Não respondeu/Não soube responder']


dados_aluno_df['TX_RESP_Q038'].replace('nan', np.nan, inplace=True)

# Substituindo os valores nulos ou 'nan' pelo novo valor desejado
dados_aluno_df['TX_RESP_Q038'].fillna('Não respondeu/Não soube responder', inplace=True)


# Substituindo os valores antigos pelo novo valor na coluna 'A'
dados_aluno_df.loc[:, 'TX_RESP_Q038'] = dados_aluno_df['TX_RESP_Q038'].replace(valores_antigos, novo_valor)

In [39]:
#Renomeia as perguntas do questionário de aluno

# Vetores com os nomes atuais e futuros das colunas
nomes_atuais = ['TX_RESP_Q002', 'TX_RESP_Q018', 'TX_RESP_Q022', 'TX_RESP_Q019', 'TX_RESP_Q023', 'TX_RESP_Q031', 
                'TX_RESP_Q027', 
                'TX_RESP_Q028', 'TX_RESP_Q030', 'TX_RESP_Q026', 'TX_RESP_Q008', 'TX_RESP_Q013', 'TX_RESP_Q015', 
                'TX_RESP_Q005', 
                'TX_RESP_Q014', 'TX_RESP_Q012', 'TX_RESP_Q011', 'TX_RESP_Q041', 'TX_RESP_Q042', 'TX_RESP_Q036', 
                'TX_RESP_Q037', 
                'TX_RESP_Q038']

nomes_futuros = ['Qual é a sua cor ou raça?', 
'Normalmente, quem mora na sua casa? - Mãe (mães ou madrasta).', 
'Normalmente, quem mora na sua casa? - Pai (pais ou padrasto).', 
'Qual é a maior escolaridade da sua mãe (ou mulher responsável por você)?', 
'Qual é a maior escolaridade de seu pai (ou homem responsável por você)?', 
'Seus pais ou responsáveis conversam com você sobre o que acontece na escola?', 
'Seus pais ou responsáveis incentivam você a estudar?', 
'Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?', 
'Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?', 
'Seus pais ou responsáveis vão à reunião de pais?',  
'Na sua casa tem geladeira?', 
'Na sua casa tem computador?', 
'Na sua casa tem quartos para dormir?', 
'Na sua casa tem televisão?', 
'Na sua casa tem banheiro?', 
'Na sua casa tem carro?', 
'Na sua casa tem máquina de lavar roupa?',  
'Você já foi reprovado(a)?', 
'Alguma vez você abandonou a escola deixando de frequentá-la até o final do ano escolar?', 
'Fora da escola em dias de aula, quanto tempo você usa para: - Lazer (TV, internet, brincar, música etc.).', 
'Fora da escola em dias de aula, quanto tempo você usa para: - Trabalhar em casa (lavar louça, limpar quintal, cuidar dos irmãos).', 
'Atualmente você trabalha fora de casa (recebendo ou não um salário)?'
]

# Renomeando as colunas usando os vetores
novos_nomes = dict(zip(nomes_atuais, nomes_futuros))
dados_aluno_df.rename(columns=novos_nomes, inplace=True)

In [40]:
#Salvar o dataframe gerado em um arquivo
dados_aluno_df.to_csv('dados_aluno_3anoEM_ESC_2017.csv', index=False)

In [41]:
dados_aluno_df.shape

(15977, 39)

In [42]:
dados_aluno_df.head()

,ID_PROVA_BRASIL,ID_ESCOLA,IN_PUBLICA,ID_LOCALIZACAO,ID_TURMA,ID_SERIE,ID_ALUNO,IN_SITUACAO_CENSO,IN_PREENCHIMENTO_PROVA,PESO_ALUNO_LP,...,"Fora da escola em dias de aula, quanto tempo você usa para: - Lazer (TV, internet, brincar, música etc.).","Fora da escola em dias de aula, quanto tempo você usa para: - Trabalhar em casa (lavar louça, limpar quintal, cuidar dos irmãos).",Você já foi reprovado(a)?,Alguma vez você abandonou a escola deixando de frequentá-la até o final do ano escolar?,Seus pais ou responsáveis incentivam você a estudar?,Seus pais ou responsáveis incentivam você a fazer o dever de casa e/ou os trabalhos da escola?,Seus pais ou responsáveis incentivam você a ir a escola e/ou não faltar às aulas?,Seus pais ou responsáveis conversam com você sobre o que acontece na escola?,Atualmente você trabalha fora de casa (recebendo ou não um salário)?,Na sua casa tem: - Freezer (independente ou segunda porta da geladeira).
702044,2017,61233638,1,1,956362,12,26892528,1,1,"0,8461538462",...,Entre 1 e 2 horas,Mais de 2 horas,Não,Não,Sim,Sim,Sim,Sim,Não,Não
702045,2017,61233638,1,1,956362,12,26892527,1,1,"0,8461538462",...,Não uso meu tempo para isso,Mais de 2 horas,"Sim, duas vezes ou mais",Não,Sim,Sim,Sim,Sim,Não,Sim
702046,2017,61233638,1,1,956362,12,26892526,1,1,"0,8461538462",...,Entre 1 e 2 horas,Menos de 1 hora,Não,Não,Sim,Não,Sim,Não,Não,Sim
702047,2017,61233638,1,1,956362,12,26892524,1,1,"0,8461538462",...,Menos de 1 hora,Menos de 1 hora,Não,Não,Sim,Sim,Sim,Sim,Não,Sim
702048,2017,61233638,1,1,956362,12,26892523,1,1,"0,8461538462",...,Não uso meu tempo para isso,Mais de 2 horas,"Sim, duas vezes ou mais",Não,Sim,Sim,Sim,Sim,Não,Sim